body {
    height: 300vh;
    margin: 0;
    padding: 0;
}

#header-div {
    width: 100%;
    height: 3%;
    background-color: black;
    display: flex;
}

#logo-text {
    font-family: 'Pacifico', cursive;
    color: white;
}